#header{
    background: linear-gradient(to bottom, rgb(141, 31, 231), rgb(101, 78, 126)); 
    background-repeat: repeat;
}


#header:hover{
    background: linear-gradient(to bottom, rgb(141, 31, 231), rgb(122, 91, 156));
}

.hooverh:hover{
    transform: scale(1.05);
}

#main{
    background-image: url("../BOOTSTRAP/img/backgroundpattern.jpg");
}

#BAlogo{
    min-width: 5rem;
    max-width: 100%; 
    height: auto;
}

#carouselcontainer{
    width: 100%;
    overflow: hidden;
}

.carousel-inner img{ 
    max-width:100%;
    max-height:100%;
    width: auto; 
    height: auto; 
}


.carousel carousel-item{
    height: inherit;
}


#divisor{
    padding: 2rem;
    background: linear-gradient(to bottom, rgb(141, 31, 231), rgb(101, 78, 126)); 
    text-align: center;
    z-index: -1;
}

#divisor:hover{
    background: linear-gradient(to bottom, rgb(141, 31, 231), rgb(122, 91, 156));
}



label{
    margin: 1rem;
}

textarea{
    margin-left: 1rem;
}

#footer{
    background:rgb(141, 31, 231) repeat; 
    height: auto; 
    height:fit-content;
    margin: 0;
}

@media only screen and (min-width:900px) {
    
.card:hover{
    transform: scale(1.02);
}

    
}